.heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;

  @media (min-width: $bigSmartphone) {
    font-size: 30px;
  }

  @media (min-width: $tablet) {
    font-size: 38px;
  }

  @media (min-width: $bigTablet) {
    font-size: 48px;
  }

  &--contact {
    width: 250px;

    @media (min-width: $bigSmartphone) {
      width: 315px;
    }

    @media (min-width: $tablet) {
      width: 400px;
    }

    @media (min-width: $bigTablet) {
      width: 500px;
    }
  }
}
