.logo {
  margin: 10px auto;
  width: 80px;

  @media (min-width: $bigSmartphone) {
    width: 100px;
  }

  @media (min-width: $bigTablet) {
    order: 2;
    width: auto;
  }

  &--footer {
    margin: 0;
    width: 65px;
    order: 0;

    @media (min-width: $bigSmartphone) {
      width: 95px;
    }
  }
}
